<!DOCTYPE html>
<html lang="pt - br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>
<form method="post" th:action="@{/calcular}">
    <div>
        <label>Valor1</label>
        <input type="text" name = "valor1" placeholder="Ex: 12,5" th:value="${valor1}">
    </div>

    <div>
        <label>Valor2</label>
        <input type="text" name = "valor2" placeholder="Ex: 12,5" th:value = "${valor2}">
    </div>
    <div>
        <fieldset>
            <legend> Escoha uma operação </legend>
            <label><input type="radio" name="operacao" value="soma" checked>Soma</label>
            <label><input type="radio" name="operacao" value="subtracao" th:checked="${operacao} == 'subtracao' ">Subtração</label>
            <label><input type="radio" name="operacao" value="multiplicacao" th:checked="${operacao} == 'multiplicacao' ">Multiplicação</label>
            <label><input type="radio" name="operacao" value="divisao" th:checked="${operacao} == 'divisao' ">Divisão</label>
        </fieldset>
    </div>
    <button type="submit">Calcular</button>
</form>
<!-- @ é utilizado para caminho
     $ conteúdo de uma variável -->
<section th:if="${resultado} != null">
    <h2>Resultado</h2>
    <h2><p th:text="${resultado}"></p></h2>
</section>
<section>
    <p th:text="${erro}"></p>
</section>

</body>
</html>